body {
    font-family: 'Lobster', sans-serif;
    background-image: url('./fon_poverhnost_piatna_50869_2560x1600.jpg');
    background-color: rgb(109, 181, 253);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; 
    margin: 50px;
    display: grid;
    grid-template-rows: 200px 1fr 50px;  /* Три строки: заголовок, основное содержимое, нижняя часть */
    gap: 5px
}

header {
    color: rgb(0, 27, 50);
    position: relative;  
    grid-row: 1;               /* Заголовок в первой строке (начало и окончание сетки)*/
}

h1 {
    color: rgb(0, 27, 50);
    position: relative;
    text-align: right; 
}

p {
    color: #000000;
    font-size: 1.2rem; 
}

h2, h3 {
    color: rgb(0, 27, 50);
}

.history {
    text-align: justify;
    font-size: 1.5rem; 
    line-height: 1.2; 
}

ol {
    font-size: 1.3rem;
}

img + p {
    margin-top: 10px;
}

ol > li {
    font-style: italic;
    width: 100%;             
    max-width: 600px;      
    min-width: 200px;
    height: auto;           
    max-height: 150px;
    margin-bottom: 10px;
    padding: 10px; 
}

a:hover {
    color: white;
}

div + p {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.custom-image {
    border: 5px dashed #01435d;
    border-radius: 5px;
    padding: 5px;
    width: 300px;        
    height: 200px;     
    margin-right: 30px;
    object-fit: cover; 
    object-position: 50% 50%; 
}

* {
    box-sizing: border-box;
}

.container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);  
    gap: 2px;                              
    padding: 2px;
    position: relative;
}

.fixed-button {
    position: fixed;              
    bottom: 7px;             
    right: 20px;            
    font-family: 'Lobster', sans-serif;
    padding: 10px 20px;     
    background-color: rgb(0, 27, 50); 
    color: white;      
    border: none;    
    border-radius: 5px;   
    cursor: pointer;   
    font-size: 1rem;  
    z-index: 10;  
}   

figure {
    text-align: center; 
}

figcaption {
    font-size: 1rem; 
    color: rgb(0, 27, 50); 
    margin-top: 10px; 
    font-style: italic; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; 
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px; 
}
.card {
    width: 150px;
    height: 150px;
    background-color: #5189e3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 7px solid #2c60ab;
    border-radius: 50%;
    animation: zagr 2s linear infinite, scritie 2s linear 2s forwards; /*for-сохранение состояния после окончания lin-без колебаний в скорости*/
    position: absolute; 
}

.content {
    opacity: 0;
    text-align: center;
    animation: poyavlenie 2s linear 2s forwards;
    color: white;
}

@keyframes zagr {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes scritie {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes poyavlenie {
    0% {opacity: 0;}
    100% {opacity: 1;}
}