body {
    font-family: 'Lobster', sans-serif;
    background-image: url('C:/Users/galov/OneDrive/Рабочий стол/test/fon_poverhnost_piatna_50869_2560x1600.jpg');
    background-color: rgb(109, 181, 253);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; 
    margin: 50px;
}

h1 {
    color: rgb(0, 27, 50);
    position: relative;
}
p {
    color: #000000;
}
h2, h3 {
    color: rgb(0, 27, 50);
}
.history {
    text-align: justify;
    font-size: 1.5rem; /* Используйте относительные единицы измерения */
    line-height: 1.2; /* Используйте относительные единицы измерения */
    flex: 1;
}
ol {
    font-size: 1.3rem;
}
img + p {
    margin-top: 10px;
}
ol > li {
    font-style: italic;
}
a:hover {
    color: white;
}
div + p {
    font-weight: 700;
}
a {
    text-decoration: none;
}
.custom-image {
    border: 5px dashed #01435d;
    border-radius: 5px;
    padding: 5px;
    width: 40%; /* Заменено на относительное значение */
    height: auto; /* Автоматическая высота для сохранения пропорций изображения */
    max-width: 50%; 
    margin-right: 30px;
    min-width: 200px; 
    max-height: 80vh; /* Установка максимальной высоты */
    min-height: auto; /* Автоматическая высота для сохранения пропорций */
}
* {
    box-sizing: border-box;
}
.container {
    display: flex; 
    align-items: center; 
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}